.timer-container
	//- p #{HFAsk.dataValues.updatedAt}
	- let now = Date.now()
	- let difference = now - HFAskTime
	p Post created at: #{HFAskTime}
	p Time now: #{now}
	p Difference is #{difference}
	p #{time}

	script.
		function msToTime (ms) {
			//- transform to seconds
			x = ms / 1000
			//- get amount of seconds that are not a whole minute
			seconds = Math.floor(x % 60)
			//- transform to minutes
			x /= 60
			//- get amount of minutes that are not a whole hour
			minutes = Math.floor(x % 60)
			//- transform to hours
			x /= 60
			//- get amount of hours that are not a whole day
			hours = Math.floor(x % 24)
			//- transform to days
			days = Math.floor(x / 24)
			let time = {seconds: seconds, minutes: minutes, hours:hours, days: days}
			return time 
			}
		var a = msToTime("#{difference}")
		console.log(a)